html, body {
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

#diet-calculator{
    align-items: center;
    background: rgb(75,89,89);
    background: radial-gradient(circle, rgba(75,89,89,1) 22%, rgba(50,63,66,1) 72%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;

    .group-buttons-wrapper{
        display: grid;
        gap: 15px;
        grid-template-rows: repeat(3, 1fr);

        button{
            @extend %button_default;
        }

    }
    .alimentos-wrapper{
        display: flex;
        flex-direction: column;
        gap: 15px;
        
        label{
            text-shadow: 0 0 3px rgba(255,255,255,0.2);
        }

        input{
            border-radius: 5px;
            box-shadow: none;
            color: #000;
            font-family: 'Noto Sans', sans-serif;
            font-size: 16px;
            margin-top: 5px;
            padding: 10px;
            width: calc(100% - 20px);
        }
        
        select {
            appearance: none;
            background-color: #f2f2f2;
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
            font-size: 16px;
            font-family: 'Noto Sans', sans-serif;
            color: #333;
            margin-top: 5px;
            cursor: pointer;
        
            option {
                color: #333;
                font-family: 'Noto Sans', sans-serif;
            }
        
            &:focus {
                outline: none;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            }
        
            &::-ms-expand {
                display: none;
            }
        
            &::after {
                content: "\25BC";
                position: absolute;
                top: 0;
                right: 0;
                padding: 0 1em;
                background: #ddd;
                cursor: pointer;
                pointer-events: none;
                transition: .25s all ease;
            }
        
            &:hover::after {
                color: #f39c12;
            }

        }    
    }
    .calculator-buttons{
        margin-top: 15px;
        display: flex;
        gap: 15px;
        ;

        button{
            @extend %button_default;
            width: 100%;
        }

    }
}

%button_default{
    background-color: #E4822A;
    border-radius: 10px;
    border: solid 3px #fff;
    cursor: pointer;
    box-shadow: 0 1px 5px rgba(0,0,0,1);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}